/errvar.npy
/density_results.npy
/density_var.npy
/mce.npy
/mced.npy
/pos.npy
/neg.npy
/casestudy4_main_1000.pdf
/casestudy4_main_1500.pdf
/auc.npy
/acc.npy
/precision.npy
/results.npy
/rmse.npy
/rmsed.npy
/tau.npy
/recall.npy
