*.py~
*.pyc
*.profle
gen_synthetic.profile
gs.profile
data/cicada-edwin.csv
data/exported_ushahidi.csv
data/haiti_unosat_target_grid.npy
data/haiti_unosat_target_list.npy
data/old
data/output_cluslocs1.00_bias_test1
data/synth/output_cluslocs0.20_bias_grid1
data/synth/output_cluslocs0.20_bias_test1
data/synth/output_cluslocs0.20_bias_test2
data/synth/output_cluslocs0.20_bias_test3
data/synth/output_cluslocs0.20_bias_test4
data/synth/output_cluslocs0.50_bias_test1
data/synth/output_cluslocs1.00_bias_test1
data/ushahidi_damage/synth_sparse_d0
data/ushahidi_damage/synth_sparse_d1
data/ushahidi_damage/synth_sparse_d2
data/ushahidi_damage/synth_sparse_d3
data/ushahidi_damage/synth_sparse_d4
data/ushahidi_damage/synth_sparse_d5
data/ushahidi_damage/synth_sparse_d6
data/ushahidi_damage/synth_sparse_d7
data/ushahidi_damage/synth_sparse_d8
data/ushahidi_damage/synth_sparse_d9
