*.py~
*.pyc
*.profle
gen_synthetic.profile
gs.profile
data/cicada-edwin.csv
data/exported_ushahidi.csv
data/haiti_unosat_target_grid.npy
data/haiti_unosat_target_list.npy
data/old
data/output_cluslocs1.00_bias_test1
data/synth/output_cluslocs0.20_bias_grid1
data/synth/output_cluslocs0.20_bias_test1
data/synth/output_cluslocs0.20_bias_test2
data/synth/output_cluslocs0.20_bias_test3
data/synth/output_cluslocs0.20_bias_test4
data/synth/output_cluslocs0.50_bias_test1
data/synth/output_cluslocs1.00_bias_test1
data/ushahidi_damage/synth_sparse_d0
data/ushahidi_damage/synth_sparse_d1
data/ushahidi_damage/synth_sparse_d2
data/ushahidi_damage/synth_sparse_d3
data/ushahidi_damage/synth_sparse_d4
data/ushahidi_damage/synth_sparse_d5
data/ushahidi_damage/synth_sparse_d6
data/ushahidi_damage/synth_sparse_d7
data/ushahidi_damage/synth_sparse_d8
data/ushahidi_damage/synth_sparse_d9
data/ushahidi_emergencies/
/.DS_Store
data/haiti_unosat_target_grid100_100.csv
data/haiti_unosat_target_grid100_100.npy
data/haiti_unosat_target_grid500_500.csv
data/haiti_unosat_target_grid500_500.npy
data/haiti_unosat_target_list100_100.csv
data/haiti_unosat_target_list100_100.npy
data/haiti_unosat_target_list500_500.csv
data/haiti_unosat_target_list_500_500.npy
data/ushahidi_emergencies2
random0.png
random1.png
random2.png
random3.png
random4.png
random5.png
random6.png
random7.png
random8.png
random9.png
/brier.png
/cross_entropy.png
/lengthscale_prn_test_structural_damage_2.png
/lengthscale_prn_test_structural_damage_3.png
/lengthscale_prn_test_tarp.png
data/lengthscale_sim_expt/synth_sparse_lengthscale_sim_data
