synth/*
prn/*/*
/haiti_unosat_target_list.npy
/haiti_unosat_target_grid.npy
output
*.pyc
*.py~
output2
output3
output4
output5
output6
output_randlocs_noise
output_cluslocs0.20_bias_test1
output_cluslocs0.20_bias_test2
output_cluslocs0.20_bias_test3
output_cluslocs0.50_bias_test1
output_cluslocs1.00_bias_test1
data/synth/*
/PDNA_HTI_2010_Atlas_of_Building_Damage_Assessment_UNOSAT_JRC_WB_v2.dbf
/.DS_Store
/prn4/*
/ushahidi_damage/*
/ushahidi_emergencies4/*