/errvar.npy
/density_results.npy
/density_var.npy
/mce_discrete.pdf
/mce_discrete_diffs.pdf
/mced.npy
/pos.npy
/neg.npy
/auc.npy
/auc.pdf
/auc_diffs.pdf
/brier.pdf
/acc.npy
/acc.pdf
/precision.npy
/results.npy
/rmse.npy
/rmsed.npy
/tau.npy
/recall.npy
/rmsed.pdf
